*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: bold;
}
body{
    height: max-content;
    background-image: url("img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.flex{
    margin: 13rem 0 0 2rem ;
}
.back{
    padding-top: 5px;
}
.back{
    padding-top: 10px;
}
.front{
    padding: 20px;
    height: 40%;
}
input{
    text-align: center;
}

input,button{
    border-radius: 20px;
    background-color: rgb(191, 218, 255);
    color: rgb(0, 0, 0);
}
button:hover{
    background-color: brown;
    color: aliceblue;

}

table {
    border: 0.2rem solid ;
    border-collapse: collapse;
    width: 35rem;
    text-shadow: #FC0 1px 0 10px;
    margin-top: 1rem;
}
th, td {
    padding: 8px; /* Cell padding */
    border: 1px solid black;
}